
.App-header {
  background-color: rgb(9, 10, 65);
  height: 100px;
  padding: 10px;
  color: white;
  
}

.App-title {
  font-size: 2em;
  font-family: 'Merienda', cursive;
  text-align: center
}

.App-intro {
  font-size: medium;
  font-family: 'Merienda', cursive;
  text-align: center

}